<div class="card-body p-md-5 mx-md-4">
  <form class="signup-form">
    <!-- First Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="registerFirstName" class="form-control" />
      <label
        class="form-label"
        for="registerFirstName"
      >First Name</label>
    </div>
    <!-- Last Name input -->
    <div class="form-outline mb-4">
      <input type="text" id="registerLastName" class="form-control" />
      <label
        class="form-label"
        for="registerLastName"
      >Last Name</label>
    </div>
    <!-- username input -->
    <div class="form-outline mb-4">
      <input type="text" id="registerUsername" class="form-control" />
      <label
        class="form-label"
        for="registerUsername"
      >username</label>
    </div>
    <div class="form-outline mb-4">
      <input type="text" id="registerEmail" class="form-control" />
      <label
        class="form-label"
        for="registerEmail"
      >email</label>
    </div>
    <div class="form-outline mb-4">
      <input type="text" id="registerPwd" class="form-control" />
      <label
        class="form-label"
        for="registerPwd"
      >Password</label>
    </div>
    <div class="text-center pt-1 mb-5 pb-1">
      <button
        class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3"
        type="submit"
        id="btnSignUp"
      >
        Sign Up!
      </button>
    </div>
  </form>

</div>
<script src="js/sign-up.js"></script>